.background-container {
  position: relative;
}

.background-container img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay-text {
  padding: 20px; /* Adjust padding as needed */
}


.background-container {
  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
  z-index: -1;
}

.overlay-text {
  position: relative;
  z-index: 1; /* Ensure the text appears above the video */
}





.card {
  width: 100%;
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 0 center; /* Center align the card */
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  
}

.login-container {
  text-align: center;
  padding: 30px;
}

form {
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 0.8em;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
