<ng-container *ngIf="products.length !=0">
    <div class="container">
      <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i = index">
 
                        <td>{{i+1}}</td>
                        <td>{{item.title}}</td>
                        <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                        <td style="width: 25%;">{{item.description}}</td>
                        <td style="width: 12%;">{{item.price}}</td>
                        <td style="width: 12%;">{{item.quantity}}</td>
                        <td style="width: 12%;">{{item.total}}</td>
                        <td>
                            <button (click)="removeItem(item)" class ="btn btn-danger"><i class="fas- fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    <tr>
 
                        <td colspan="4"></td>
                        <td><a href ="/products" class="btn btn-danger">Empty Cart</a></td>
                        <td><a href ="/products" class="btn btn-primary">Shop More</a></td>
                        <td><a href="/payment" class="btn btn-success">Checkout</a></td>
                        <td><strong>Grand Total : {{grandTotal}}</strong></td>
 
                    </tr>
                </tbody>
               
            </table>
 
        </div>
      </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        <div class="image-center"></div>
        <div id="card-img">
            <img src="../../assets/Cart.jpg" alt="">
        </div>
        <h4>Your cart is empty!</h4>
        <h6>Add item to it now</h6>
        <a href="/products" class="btn btn-primary">Shop Now</a>
        </div>
    </div>
</ng-container>
<!-- <button (click)="proceedToPayment()">Proceed to Payment</button> -->